/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
} */

@media screen and (max-width: 768px) {
  

.onboardingcontainer {
 /* margin: 5rem 15rem; */
 background-color: white;
 /* border: 5rem solid #646cff; */
}

.subcontainer {
  padding: 2rem;
  border: 2px solid white;
  border-radius: 1rem;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(171, 183, 183, 1);       
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input {
  display:block;
  width: 80%;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #474747;
  background: #fff;
  background: #f8f8f8;
}

input:focus {
  outline: none;
  border-color: #01A5A6;
  box-shadow: 0 0 0 2px #01A5A6;
}
input::placeholder {
  color: black;
}
input:disabled {
  background: #f8f8f8;
  color: #01A5A6;
}
input:disabled::placeholder {
  color: #01A5A6;
}
input:disabled:focus {
  box-shadow: none;
}
input:disabled:hover {
  cursor: not-allowed;
}

.headingone{
  font-size: 2rem;
  font-weight: 600;
  color: #01A5A6;
  text-align:left;
  margin: 1rem;
  padding: 1rem;
}

.onboardingbutton {
  background-color: #01A5A6;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem;
  width: 87%;
  transition: background-color 0.3s ease;
} 

.footerparagraph {
  font-size: 1rem;
  color: #474747;
  text-align: center;
  margin: 1rem;
}

.footerspan a {
  color: #01A5A6;
  font-weight: 600;
}

.busfooter {
  width: 110px;
  padding: 2em;
  margin-left: -4.3rem;
}
}